/*  MAIN - SERVICES  */

$blue1: #325c8a;
$blue2: #316091;
$yellow1: #fdbf14;

:root {
    --serv-margleft: 150px;
    /*---------------*/
    --title-height: 12vh;
    --title_border: 1.5px solid white;
    --title_size: 33px;
    --title_imag: 8%;
    --title_imagmarg: 20px;
    /*---------------*/
    --contmain-margb: 5%;
    --text-pad: 30px;
    --text-marg: 4%;
    --text-h2-size: 30px;
    --text-p-size: 15px;
    --illus-width: 85%;
}

.MainServices{
    margin-left: var(--serv-margleft);
    .titleMain{
        width: 100%;
        height: var(--title-height);
        border-left: var(--title_border);
        display: flex;
        justify-content: center;
        align-items: center;
        background: #5437e2;
        margin-top: 20px;
        margin-bottom: 40px;
        h1{
            color: white;
            font-size: var(--title_size);
            font-family: "Asap", sans-serif;
            text-align: center;
        }
        img{
            width: var(--title_imag);
            margin-left: var(--title_imagmarg);
        }
    }
    .contMain{
        width: 100%;
        margin-bottom: var(--contmain-margb);
        .textMain{
            padding-left: var(--text-pad);
            padding-right: var(--text-pad);
            
            font-family: "Asap", sans-serif;
            color: $blue1;
            h2{
                font-size: var(--text-h2-size);
                text-align: center;
            }   
            p{
                text-align: justify;
                margin-top: 10px;
                margin-bottom: 20px;
                font-size: var(--text-p-size)
            }
        }
        .textIllus{
            margin-right: var(--text-marg);
            img{
                width: var(--illus-width);
            }
        }
    }   
}

/*  MEDIAS  */

:root {
    @media all and (min-width: 960px) and (max-width: 1200px) {
        --title_size: 25px;
        --title_imag: 10%;
        --title_imagmarg: 5px;
        /*---------------*/
        --contmain-margb: 6%;
        --text-pad: 0px;
        --text-marg: 4%;
        --text-h2-size: 28px;
        --text-p-size: 13px;
        --illus-width: 100%;
    }
    @media all and (min-width: 768px) and (max-width: 960px) {
        --title_size: 25px;
        --title_imag: 13%;
        --title_imagmarg: 5px;
        /*---------------*/
        --contmain-margb: 7%;
        --text-pad: 0px;
        --text-marg: 4%;
        --text-h2-size: 25px;
        --text-p-size: 12px;
        --illus-width: 100%;
    }
    @media all and (min-width: 600px) and (max-width: 768px) {
        --serv-margleft: unset;
        /*---------------*/
        --title-height: 12vh;
        --title_border: none;
        --title_size: 24px;
        --title_imag: 15%;
        --title_imagmarg: 5px;
        /*---------------*/
        --contmain-margb: 8%;
        --text-pad: 0px;
        --text-marg: 5%;
        --text-h2-size: 24px;
        --text-p-size: 12px;
        --illus-width: 100%;
    }
    @media only screen and (max-width: 600px) {
        --serv-margleft: unset;
        /*---------------*/
        --title-height: 10vh;
        --title_border: none;
        --title_size: 20px;
        --title_imag: 20%;
        --title_imagmarg: 0px;
        /*---------------*/
        --contmain-margb: 28%;
        --text-pad: 18%;
        --text-marg: 4%;
        --text-h2-size: 28px;
        --text-p-size: 12px;
        --illus-width: 80%;

        .contMain{
            .textMain{
                h2{
                    margin-top: 20px;
                    margin-bottom: 5px;
                }   
                p{
                    margin-bottom: 30px;
                }
            }
        }
    }
}